!!!
%html{lang: "en"}
  = render "_head"

  %body
    = render "_navbar"

    #main.container
      %h2= @item[:title]
      = yield

      - if @item[:blog_index]
        - sorted_articles.each do |article|
          = render "_blog_preview", article: article

    = render "_foot"